doctype html

head
  meta(charset='utf-8')
  title
  link(type='text/css', rel='stylesheet', href='styles.css')

header
  .floating.home-icon
    span.tooltiptext.floating HOME
  .floating.other-icon
    span.tooltiptext.floating MEMBERS
  .floating.third-icon
    span.tooltiptext.floating EVENTS

canvas#c

#info
#info-bottom
#loading
  .progress
    .progressbar

script(src='src/viewer.js')

// Css stuff, need to pugify too
// <div id="container" class="floating"></div>
// <div id="blocker"></div>
